{extend name="index@public/main"}
{block name="style"}
<style>
	.spec-warrp, .spce-item{
		list-style: none;
	}
	.spec-warrp {
		padding: 16px;
	}
	.spec-warrp .spce-item {
		margin-top: 8px;
		border: 1px solid #ddd;
		border-radius: 12px;
		padding: 4px 12px;
	}
	.spec-warrp .spce-item.active {
		background: #17a862;
		color: #fff;
	}
</style>
{/block}
{block name="body"}
<div class="toper navbar-fixed-top">
	<div class="row color_white " >
		<div class="col-xs-2" style="padding-left:25px;"><a class="cwhite" href="#"><i class="icon-angle-left font32"></i></a></div>
		<div class="col-xs-8 text-center font20">商品详情</div>
		<div class="col-xs-2" >
			<div class="icon_shopcar">
				<div class="icon_shopcar_ts" id="shopNum">{$shopNum|default="0"}</div>
				<a class="cwhite" href="{:url('shopcart')}"><div class="photo_30"><img src="__STATIC__/homeWap/images/icon_shopcar.png" alt="购物车"></div></a>
			</div>
		</div>
	</div>
</div><!-- toper -->
<div class="height53"></div>

<div class="swiper-container">
	<div class="swiper-wrapper">
		<!--{volist name="good.goods_image" id="img"}-->
		<div class="swiper-slide">
			<div class="productphoto"><img src="{$img}"></div>
		</div>
		<!--{/volist}-->
	</div>
	<!-- Add Pagination -->
	<div class="swiper-pagination"></div>
</div>
<!-- Swiper JS -->
<script src="__STATIC__/homeWap/js/swiper.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true
  });
</script><!-- 焦点图 -->
<div class=" width100 bg_white" style="padding:10px;">
	<h4>{$good.goods_title}</h4>
	<span class="pull-right">
            <div class="btn-group" role="group" aria-label="...">
	            <button type="button" class="btn btn-default" id="rediuceBtn"><i class="icon-minus"></i></button>
              <input type="button" class="btn btn-default disabled" id="valueBtn" value="1"></input>
              <button type="button" class="btn btn-default" id="addBtn"><i class="icon-plus"></i></button>
            </div>
        </span>
	<p class=" color_gray font16">
		<span class="color_orange font20" id="sellingprice">¥{$good.spec[0]['selling_price']}</span>&nbsp;&nbsp;&nbsp;&nbsp;
		<del id="marketprice">¥{$good.spec[0]['market_price']}</del>
	</p>
	<p class="color_gray font16">
		<span id="goodssale">已售{$good.spec[0]['goods_sale']}</span>&nbsp;&nbsp;&nbsp;&nbsp;
		<span id="goodsstock">库存{$good.spec[0]['goods_stock']}</span>
	</p>
	<div class="height10"></div>
	<div class=" width100 bg_white border_top hang32">
		<span class=" font16">商品规格</span>
		<ul class="spec-warrp">
			<!--{volist name="good.spec" id="sp" key="k"}-->
			<li class="spce-item {if condition='$k == 1'}active{/if}" data-marketPrice="{$sp.market_price}" data-sellingPrice="{$sp.selling_price}" data-goodsSale="{$sp.goods_sale}" data-goodsstock="{$sp.goods_stock}" data-id="{$sp.id}">{$sp.goods_spec_alias}</li>
			<!--{/volist}-->
		</ul>
	</div>
	<div class="height10"></div>
</div><!--a-->
<div class="height10"></div>
<div class=" width100 bg_white border_bottom" style="padding:10px;">
	<span class=" font16">商品介绍</span>
	<span class="pull-right"><a title="收起" class=" cgreen" href="#"><i class="icon-angle-up" style="font-size:24px;"></i></a></span>
</div>
<div class=" width100 bg_white" style="padding:10px;">
	<div class="artic14">
		{$good.goods_content|RAW}
	</div>
</div><!--a-->
<div class="height10"></div>

<div class="height60"></div>
{/block}

{block name="footer"}
<div class=" width100 bg_white navbar-fixed-bottom" style="padding:10px;">
	<div class="row" style="width:100%; margin:0 auto;">
		<div class="col-xs-6" style="padding-right:5px; padding-left:0px;"  >
			<button class="btn btn-lg btn-success btn-group-justified" type="submit" >联系客服</button>
		</div>
		<div class="col-xs-6" style="padding-left:5px; padding-right:0px;">
			<button class="btn btn-lg btn-success btn-group-justified" type="submit" id="addShopCart">加入购物车</button>
		</div>
	</div>
</div>
{/block}

{block name="script"}
<script>
  (function () {
    var specItem = $('.spec-warrp .spce-item')
	  
	  specItem.click(function () {
	    var data = $(this).data()
		  $(this).siblings('li').removeClass('active')
		  $(this).addClass('active')
		  $.each(data, function (i, v) {
			  $("#"+i).text('￥' + v )
      })
	  })
	  
	  // 加
	  $("#addBtn").click(function () {
	    var value = Number($("#valueBtn").val())
		  var goodsstock = $("#goodsstock").text()
		  var reg = /[1-9][0-9]*/g;

      goodsstock = goodsstock.match(reg)
      goodsstock = goodsstock ? goodsstock : [0]
		  
		  var newVal = value + 1
      console.log(newVal, goodsstock)

      if (newVal > goodsstock[0]) {
	      msg('库存不足')
        $("#valueBtn").val(value)
			  return false
		  }
      $("#valueBtn").val(newVal)
		  
	  })
	  
	  // 减
    $("#rediuceBtn").click(function () {
      var value = Number($("#valueBtn").val())

      var newVal = value - 1

      if (newVal < 1) {
        msg('请至少购买一件商品')
        $("#valueBtn").val(value)
        return false
      }
      $("#valueBtn").val(newVal)

    })
	  
	  // 加入购物车
	  $("#addShopCart").click(function () {
      var data = {}
      // active specItem
		  $.each($('.spce-item'),function (i, v) {
			  if ($(v).hasClass('active')) {
			    var _data = $(v).data()
				  
			    data.goods_specifition_name_value = $(v).text();
				  data.spec_id = _data.id;
				  data.market_price = _data.marketprice;
				  data.selling_price = _data.sellingprice;
				  data.goods_id = {$good.id};
				  data.number = Number($("#valueBtn").val());
				  data.list_pic_url = '{$good.goods_logo}';
				  data.goods_title = "{$good.goods_title}";
			  }
      })
      
		  $.post('{:url("addShopCart")}', data, function (res) {
		    if (res.code == 2000) {
		      $("#shopNum").text(Number($("#shopNum").text()) + 1)
		    }
		    msg(res.msg)
		  }, 'json')
		  
	  })
	  
  })()
</script>
{/block}
