{extend name="index@public/main"}

{block name="body"}
<div class="toper navbar-fixed-top">
	<div class="row color_white " >
		<div class="col-xs-2" style="padding-left:25px;"><a class="cwhite" href="javascript:window.history.go(-1);"><i class="icon-angle-left font32"></i></a></div>
		<div class="col-xs-8 text-center font20">快速注册</div>
		<div class="col-xs-2"><a href="{:url('index/Index/index')}" class="cwhite">&nbsp;首页</a></div>
	</div>
</div><!-- toper -->
<div class="height53"></div>
<div class="height20"></div>
<div class=" container-fluid" >
	<form class="form-horizontal" name="register">
		<div class="form-group form-group-lg">
			<div class="col-xs-12">
				<input type="text" class="form-control" name="phone" placeholder="请输入手机号">
			</div>
		</div>
		<div class="height10"></div>
		<div class="form-group form-group-lg">
			<div class="col-xs-12">
				<input type="password" class="form-control" name="password" placeholder="请输入密码">
			</div>
		</div>
		<div class="height10"></div>
		<div class="form-group form-group-lg">
			<div class="col-xs-12">
				<input type="password" class="form-control" name="password_confirm" placeholder="请再次输入密码">
			</div>
		</div>
		<div class="height10"></div>
		<div class="form-group form-group-lg">
			<div class="col-xs-7" style="padding-right:0px;">
				<input type="text" class="form-control" name="verfiy" placeholder="验证码">
			</div>
			<div class="col-xs-5">
				<img class="btn-group-justified" style="height: 40px;" src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?rnd='+Math.floor(Math.random()*100)">
			</div>
		</div>
		<div class="height10"></div>
		<div class="form-group">
			<div class="col-xs-12">
				<button class="btn btn-success btn-lg btn-group-justified" id="onSubmit">登录</button>
				<a href="{:url('index')}" style="width: 100%; text-align: right; height: 28px;
line-height: 28px;display: inline-block">已有账号? 立即登录!</a>
			</div>
		</div>
	</form>
	<div class="height10"></div>
	<!--<div class=" width100 text-center font16 color_gray"> 点击登录，即表示您同意<a href="#">《免责声明》</a></div>-->
</div><!-- 中部 -->
{/block}

{block name="footer"}{/block}
{block name="script"}
<script>
	$(function () {
	  var $onSubmit = $("#onSubmit")
		var isSubmit = false
		
		$onSubmit.click(function () {
			
		  if (isSubmit) return;
		  
		  $(this).removeClass('btn-success').text('正在注册...')
			isSubmit = true
			
			$.post('{:url("doRegister")}', $('form[name="register"]').serialize(), function (res) {
			  if (res.code == 1) {
          setTimeout(function () {window.location.href = "{:url('login/index')}"}, 2000)
			  }
			  msg(res.msg)
			  
      }, 'json')
			
			return false
		})
		
	})
</script>
{/block}
