{extend name="index@public/main"}
{block name="viewport"}{/block}
{block name="style"}
<script src="__STATIC__/homeWap/js/mobile-util.js"></script>
<link rel="stylesheet" href="__STATIC__/homeWap/css/address.css" />
<style>
	a,a:visited,a:link {color: #232326}
	body{background: #f8f8f8 !important;}
	.mytit_flash ul li {width: 20%}
</style>
{/block}
{block name="body"}
<div class="tit-flash-sale p mytit_flash">
	<div class="maleri30">
		<ul class="">
			<li {if condition="$status eq 0"}class="red"{/if}>
				<a href="{:url('Order/order_list')}" class="tab_head">全部订单</a>
			</li>
			<li id="WAITPAY" {if condition="$status eq 1"}class="red"{/if}">
			<a href="{:url('Order/order_list',array('status'=>1))}" class="tab_head" >待付款</a>
			</li>
			<li id="WAITSEND" {if condition="$status eq 2"}class="red"{/if}>
			<a href="{:url('Order/order_list',array('status'=>2))}"  class="tab_head">待发货</a>
			</li>
			<li id="WAITGET" {if condition="$status eq 3"}class="red"{/if}>
			<a href="{:url('Order/order_list',array('status'=>3))}"  class="tab_head">待收货</a>
			</li>
			<li id="WAITCCOMMENT"  {if condition="$status eq 5"}class="red"{/if}>
			<a href="{:url('Order/order_list',array('status'=>5))}" class="tab_head">已完成</a>
			</li>
		</ul>
	</div>
</div>

<!--订单列表-s-->
<div class="ajax_return">
	{if condition="count($lists) eq 0"}
		<!--没有内容时-s--->
		<div class="comment_con p">
			<div class="none">
				<img src="__STATIC__/homeWap/images/none2.png">
				<br><br>
				抱歉未查到数据！
				<div class="paiton">
					<div class="maleri30">
						<a class="soon" href="/"><span>去逛逛</span></a>
					</div>
				</div>
			</div>
		</div>
		<!--没有内容时-e--->
	{/if}
	{volist name="lists" id="list"}
		<div class="mypackeg ma-to-20 getmore">
			<div class="packeg p">
				<div class="maleri30">
					<div class="fl">
						<h1><span></span><span class="bgnum"></span></h1>
						<p class="bgnum"><span>订单编号:</span><span>{$list.order_no}</span></p>
					</div>
					<div class="fr">
						<span>{$order_status_desc[$list['status']]}</span>
					</div>
				</div>
			</div>
			<div class="shop-mfive p">
				<div class="maleri30">
					{php}$total_number = 0;{/php}
					{foreach  name="list.goods_list" item="good"}
						<div class="sc_list se_sclist paycloseto">
							<a {if condition="$list.status eq 1"}href="{:url('Order/order_detail',array('id'=>$list['id'],'waitreceive'=>1))}" {else/} href="{:url('Order/order_detail',array('id'=>$list['id']))}"{/if}>
							<div class="shopimg fl">
								<img src="{$good['goods_logo']}">
							</div>
							<div class="deleshow fr">
								<div class="deletes">
									<span class="similar-product-text">{$good['goods_title']|getSubstr=0,20}</span>
								</div>
								<div class="deletes">
									<span class="similar-product-text">{$good.goods_spec}</span>
								</div>
								<div class="prices  wiconfine">
									<p class="sc_pri"><span>￥</span><span>{$good['selling_price']}</span></p>
								</div>
								<div class="qxatten  wiconfine">
									<p class="weight"><span>数量</span>&nbsp;<span>{$good['number']}</span></p>
								</div>
							</div>
							</a>
						</div>
					{php}$total_number += $good['number'];{/php}
					{/foreach}
				</div>
			</div>
			<div class="shop-rebuy-price p">
				<div class="maleri30">
            <span class="price-alln">
                <span class="red">￥{$list['real_price']}</span><span class="threel" id="goodsnum">共{$total_number}件</span>
            </span>
					{if condition="$list.status eq 1"}
						<a class="shop-rebuy paysoon" href="{:url('order_detail',array('id'=>$list['id']))}">立即付款</a>
					{/if}
					{if condition="$list.status eq 1"}
						{if condition="$list.is_pay eq 0"}
							<a class="shop-rebuy " onClick="cancel_order({$list.id})">取消订单</a>
						{/if}
					{/if}
					{if condition="$list.status eq 3"}
						<a class="shop-rebuy paysoon" onclick="orderConfirm({$list.id})">确认收货</a>
					{/if}
					{if condition="$list.status eq 4"}
						<a class="shop-rebuy" href="#">评价</a>
					{/if}
					{if condition="$list.status >= 3 && $list['store_express']"}
						<a class="shop-rebuy" class="shop-rebuy" href="{:url('index/Order/shipping', ['express_code' => $list['store_express']['company_code'], 'express_no' => $list['store_express']['send_no']])}">查看物流</a>
					{/if}
				</div>
			</div>
		</div>
	{/volist}
</div>
<!--订单列表-e-->
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript">
  //滚动加载更多
  var isLoading = false
  $(window).scroll(
    function() {
      var scrollTop = parseInt($(this).scrollTop());
      var scrollHeight = parseInt($(document).height());
      var windowHeight = parseInt($(this).height());
      if (scrollTop + windowHeight >= scrollHeight-50) {
        if (isLoading) return
        ajax_sourch_submit();//调用加载更多
      }
    }
  );
</script>
<script type="text/javascript">
  /**
   * 取消订单
   */
  function cancel_order(id){
    if(!confirm("确定取消订单?"))
      return false;
    $.ajax({
      type: 'GET',
      dataType:'JSON',
      url:"/index.php?m=Mobile&c=Order&a=cancel_order&id="+id,
      success:function(data){
        if(data.code == 1){
          layer.open({content:data.msg,time:1});
          location.href = "/index.php?m=Mobile&c=Order&a=order_list";
        }else{
          layer.open({content:data.msg,time:2});
          location.href = "/index.php?m=Mobile&c=Order&a=order_list";
          return false;
        }
      },
      error:function(){
        layer.open({content:'网络异常，请稍后重试',time:3});
      },
    });
  }

  /**
   * 确定收货
   */
  function orderConfirm(id){
    if(!confirm("确定收到该订单商品吗?"))
      return false;
    location.href = "/index.php?m=Mobile&c=Order&a=order_confirm&id="+id;
  }

  var  page = 1;
  /**
   *加载更多
   */
  function ajax_sourch_submit()
  {
    page += 1;
    isLoading = true
    $.ajax({
      type : "GET",
      url:"{:url('order_list')}?status={$status}&is_ajax=1&p="+page,//+tab,
      success: function(res)
      {
        if(res.code == 0){
          $('#getmore').hide();
          isLoading = true
        } else {
          //$(".ajax_return").append(data);
          $(".m_loading").hide();
          if (res.data.length > 0) {
            isLoading = true
          } else {
            isLoading = false
          }
        }
        
      }
    });
  }
</script>
{/block}

