{extend name="index@public/main"}
{block name="style"}
<link rel="stylesheet" href="__STATIC__/homeWap/css/user.css" />
{/block}
{block name="body"}
<header>
	<div class="user">
		<img src="{$user.headimg|default='<i class="iconfont">&#xe623;</i>'}" alt="">
	</div>
	
	<div class="userinfo">
		<p>{$user.nickname}</p>
		<!--<p>非会员<span>100积分</span></p>?-->
	</div>
	
	<div class="right_icon">
		<a href="{:url('edit')}">设置</a>
	</div>
</header>

<section>
	<a href="{:url('Order/order_list', ['status' => 1])}"><i class="iconfont">&#xe60b;</i>待支付</a>
	<a href="{:url('Order/order_list', ['status' => 2])}"><i class="iconfont" style="background: #e25b5b;">&#xe617;</i>待发货</a>
	<a href="{:url('Order/order_list', ['status' => 3])}"><i class="iconfont" style="background: #62d07a;">&#xe671;</i>待收货</a>
	<a href="{:url('Order/order_list', ['status' => 4])}"><i class="iconfont" style="background: #d6c46a;">&#xe717;</i>待评价</a>
	<!--<a href="javascript:;"><i class="iconfont" style="background: #ca6abe;">&#xe75f;</i>待维权</a>-->
</section>

<aside>
	<ul>
		<li><a href="{:url('Order/order_list')}" class="sp1"><i class="iconfont">&#xe60b;</i>全部订单<i class="iconfont" style="float: right;font-size: .3rem;">&#xe602;</i></a></li>
		<!--<li style="margin-top: .2rem;"><a href="javscript:;" class="sp2"><i class="iconfont">&#xe617;</i>分销中心<i class="iconfont" style="float: right;font-size: .3rem;">&#xe602;</i></a></li>-->
		<!--<li style="margin-top: .2rem;"><a href="javscript:;" class="sp3"><i class="iconfont">&#xe717;</i>我的优惠券<i class="iconfont" style="float: right;font-size: .3rem;">&#xe602;</i></a></li>
		<li><a href="javscript:;" class="sp4"><i class="iconfont">&#xe671;</i>我的红包<i class="iconfont" style="float: right;font-size: .3rem;">&#xe602;</i></a></li>
		<li><a href="javscript:;" class="sp5"><i class="iconfont">&#xe60b;</i>我的会员卡<i class="iconfont" style="float: right;font-size: .30rem;">&#xe602;</i></a></li>-->
		<li style="margin-top: .2rem;"><a href="javscript:;" class="sp7"><i class="iconfont">&#xe671;</i>我的收藏<i class="iconfont" style="float: right;font-size: .30rem;">&#xe602;</i></a></li>
		<li style="margin-top: .2rem;"><a href="{:url('index/Index/shopcart')}" class="sp8"><i class="iconfont">&#xe75f;</i>我的购物车<i class="iconfont" style="float: right;font-size: .30rem;">&#xe602;</i></a></li>
		<li style="margin-top: .2rem;"><a href="{:url('index/Order/order_manger')}" class="sp6"><i class="iconfont">&#xe617;</i>订单处理<i class="iconfont" style="float: right;font-size: .3rem;">&#xe602;</i></a></li>
	</ul>
</aside>
<div class="login-out">退&nbsp;&nbsp;出</div>
{/block}
